<p>Дорогой наш {{ user.username }},</p>
<p>
    ты забыл пароль? И похоже, не впервый раз. Бывает!
    Чтобы сбросить пароль, жмакни на
    <a href="{{ url_for('reset_password', token=token, _external=True) }}">
        следующую ссылку
    </a>.
</p>
<p>Кроме того, вы можешь вставить следующую ссылку в адресную строку браузера:</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>
<p>Если ты не запрашивал сброс пароля, просто забей на это сообщение.</p>
<p>С Уважением,</p>
<p>Команда Microblog</p>